<h2>Add an Author...</h2>
<form method="POST" action="/authors">
    <input type="text" name="name" id="name" placeholder="enter name"><br />
    <input type="number" name="mustacheSize" id="mustacheSize" placeholder="in meters"><br />

    <input type="submit" value="Add Author">
</form>